*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.jks
*.keystore

mise.toml

# Java compiled classes
*.class

# Android Studio
*.iml
.idea/